@media (min-width: 1400.1px) {
  .meals {
    max-width: 90%;
    margin: 0 auto;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 1rem;
      row-gap: 3rem;
    }

    .error {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

@media (max-width: 1400px) {
  .meals {
    max-width: 90%;
    margin: 0 auto;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1rem;
      row-gap: 3rem;
    }

    .error {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

@media (max-width: 899px) {
  .meals {
    max-width: 80%;
    margin: 0 auto;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0.5rem;
      row-gap: 3rem;
    }

    .error {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

@media (max-width: 650px) {
  .meals {
    max-width: 90%;
    margin: 0 auto;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 0.5rem;
      row-gap: 1rem;
    }

    .error {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
