@media (min-width: 1400.1px) {
  .imageContainer {
    max-width: 100%;
    height: calc(100vh - 150px);
    margin: 110px auto 3rem auto;
    overflow: hidden;
    position: relative;
    display: flex;

    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;

      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        color: white;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1400px) {
  .imageContainer {
    max-width: 100%;
    height: calc(100vh - 150px);
    margin: 110px auto 3rem auto;
    overflow: hidden;
    position: relative;
    display: flex;

    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;

      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 4.5rem;
        color: white;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 799px) {
  .imageContainer {
    max-width: 100%;
    height: calc(100vh - 150px);
    margin: 110px auto 3rem auto;
    overflow: hidden;
    position: relative;
    display: flex;

    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;

      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        color: white;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 600px) {
  .imageContainer {
    max-width: 100%;
    height: calc(100vh - 150px);
    margin: 110px auto 3rem auto;
    overflow: hidden;
    position: relative;
    display: flex;

    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;

      h2 {
        font-size: 3.3rem;
        color: white;
        font-weight: bold;
      }
    }

    img {
      object-fit: cover;
    }
  }
}

@media (max-width: 420px) {
  .imageContainer {
    max-width: 100%;
    height: calc(100vh - 150px);
    margin: 110px auto 3rem auto;
    overflow: hidden;
    position: relative;
    display: flex;

    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;

      h2 {
        font-size: 2.9rem;
        color: white;
        font-weight: bold;
      }
    }

    img {
      object-fit: cover;
    }
  }
}

@media (max-width: 360px) {
  .imageContainer {
    max-width: 100%;
    height: calc(100vh - 150px);
    margin: 110px auto 3rem auto;
    overflow: hidden;
    position: relative;
    display: flex;

    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;

      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        color: white;
        font-weight: bold;
      }
    }

    img {
      object-fit: cover;
    }
  }
}
