.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;

  label {
    font-weight: bold;
    margin-right: 1rem;
  }

  input {
    height: 2rem;
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }
}
